@import "tailwindcss";

@font-face {
  font-family: font1;
  src: url(/public/Fonts/Lausanne-300.woff2);
}

@font-face {
  font-family: font2;
  src: url(/public/Fonts/Lausanne-500.woff2);
}

body{
  overflow-x: hidden;
}

.moveX{
  animation-name: moveAnimation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.moveLink{
  opacity: 0;
  transition: all ease 0.3s;
}

.link:hover .moveLink{
  opacity: 1;
  border-top: none;
}

@keyframes moveAnimation {
  from{
    transform: translate(0);
  }
  to{
    transform: translate(-100%);
  }
}



.card1, .card2 {
  opacity: 0;
  transform: translateY(100vh);
  will-change: transform;
}

.saction3 {
  perspective: 1000px;
}